
/*credit card radio buttons */
.credit-radio-container{
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 2%;
    max-width: 100%;
}

/*specifically the divs within credit radio container*/
.credit-radio-container div{
    padding-top: 7px;
    color: #363232;
}

/* afterpay and paypal radio buttons styling*/
.checkout2-bigbox-text{ 
    display: flex;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color:#363232;;
    margin-top: 2%;
    padding: 0.5%;
    color: #363232;
    cursor: pointer;

}

.checkout3-text{ /*credit/debit card text*/
    padding-top: 0;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #363232;
    cursor: pointer;

}

.checkout-3-image{ /*label on the radio for all the radios with 
    images, aligns horizontally*/
display: flex;
align-items: center;
margin-right: 10px;
}

.checkout-input-container1{ /*the page*/
    max-width: 100%;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
   
}

.checkout-input-container1 img{
max-width: 10%;
height: auto;
}

.selectpayment{ /*select payment method text*/
    padding-bottom: 5px;
    color: #363232;
    
}
/*expiry and cvv input bars*/
.exp-cvv-container{
    display: flex;
    flex: 1;
    
}

.exp-cvv-container div{
    margin-right: 5px;
    max-width: 100%;
}

.cvv input{ /*making cvv smaller than expiry*/
    width: 50px;
}

.final-three-container{ /* flex:1 distributes space evently 
    between the expiry and cvv input bars*/
    display: flex;
    flex: 1;
    max-width: 100%;
}

.final-three-container div{
    flex: 1;
    margin-right: 15px;
}

.final-three-container div:last-child {
    margin-right:0
}

            
@media (max-width: 600px) {
    .checkout2-container {
        padding: 10px
    }

    input{
        padding: 8px
    }

    .checkout-button{
        padding: 8px 16px;
    }
}

