/*CSS for typography*/

.bold {
    font-weight: bold;
}

.text-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #363232
}

.heading-font {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #363232
}

.subtitle-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight:lighter;
    color: #363232
}



.product-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    justify-content: center ;
    align-items: center;
    color: #363232;
    text-align: center;
    font-weight: bold;
   
}
    
a:link {
    text-decoration: none
}
    

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.1vw;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.item-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}


.body-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height:1.5;
}


.fine-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: grey;
    line-height:1.15;
    }


.product-list-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    color: #363232;
    text-align: center ;
    font-weight: lighter;
    }


.option-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #363232;
}

.checkout-header-text{
    font-size: 25px;
    color: #363232;
    text-align: left;
    font-weight: bold;
  }

  .cart-text ul li {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #363232; 
    list-style: none;
    
    }
    
    .cart-header{
        display: flex;
        flex-wrap: wrap;
         font-size: 1.5vw;
        color: #363232;
        margin-top: 0;
      }  
    
    .checkout-product-info{
    font-size: 1vw;
    padding-top: 2vw;
    
    }
    .dispatch-text{
        font-size: 0.5vw;
        font-weight: lighter;
        }
        .checkout-product-quantity1{
          font-size: 0.75vw;
          padding-top: 3.5vw;
          padding-left: 2vw;
          word-spacing: 10px;
          
        }
          
        .checkout-product-quantity2{
          font-size: 0.75vw;
          padding-top: 7vw;
          padding-left: 2vw;
          word-spacing: 10px;
        }
        
        .checkout-product-price1{
          font-size: 1.25vw;
          padding-top: 2.75vw;
          padding-left: 1vw;
        }
        
        .checkout-delivery-price1{
          font-size: 0.7vw;
          font-weight: lighter;
          padding-left: 1vw;
        }
        .checkout-product-price2{
          font-size: 1.25vw;
          padding-top: 5vw;
          padding-left: 1vw;
        }
        
        .checkout-delivery-price2{
          font-size: 0.7vw;
          font-weight: lighter;
          padding-left: 1vw;
        }

        .checkout-subtotal-text{
            font-size: 1.5vw;
          }
                   
          .checkout-deliv-calc{
            font-size: 0.7vw;
            font-weight: lighter;
            padding-left: 1vw;
            text-align: right;
          }




.checkout-header-text2{
    font-size: 30px;
    color: #363232;
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}

.details-text{
    margin-top: 100px;
    margin-bottom: 5px;
    color: #363232;
}

.checkout2-text{
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: 0;

}


/* Tablet size layout*/
@media (max-width: 1100px) {
    
    .heading-font {
        font-size: 2rem;
    }

    .text-btn {
        font-size: 0.8rem;
    }
    
    .subtitle-font {
        font-size: 2rem;
    }
    
    .item-subtitle{
        font-size: 0.8rem;
    }
    
    
    .body-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        line-height:1.5;
    }
    
    
    .fine-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7rem;
        color: grey;
        line-height:1.15;
        }
    
    
    .option-description{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        color: #363232;
    }

}

/*mobile sized layout*/
@media (max-width: 750px) {

    .heading-font {
        font-size: 1.5rem;
    }

    .subtitle-font {
        font-size: 1.5rem;
    }
}