.product {
    padding-top: 3rem;
}

/*creates 2 column grid structure, photo and product info side-by-side*/
.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.column-centre{
    justify-self: center;
}

a {
    text-decoration: none; 
    color: inherit;
  }


.column-aligned{
    margin-left: 10rem;
}

.product-photo{
    max-width: 100%;
    height: auto;
}

.product-image{
    margin-top: 2rem;
    width: 33rem;
    height: auto;
}

.product-options{
    padding: 2rem 2rem 1rem 2rem;
    background-color: #f2f2f2;
    margin-bottom: 2rem;
}



.subtitle-font{
    padding-top:2.5rem;
    padding-bottom:2.5rem;
}

.option-description{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.cart-info {
    display: flex;
    margin-bottom: 1rem;
    width: 10rem;
}

.cart-info.btn {
    margin-right: 10px;
}

.product-description{
    margin: 6rem 18rem 4rem 18rem;
}

.item-subtitle{
    padding-bottom: 2rem;
}

.description{
    padding-bottom: 3rem;
}

.product-information{
    margin-left: 12rem;
    padding-left: 6rem;
    margin-right: 12rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
    background-color: #f2f2f2;
}

.list-info{
    padding-bottom: 4rem;
}

.dimension-image{
    width: 20rem;
    height: auto;
}


/* Tablet size layout*/
@media (max-width: 1100px) {

    .column-aligned{
        margin-left: 5rem;
    }

    .product-description{
        margin: 4rem 8rem 2rem 8rem;
    }

    .product-information{
        margin-left: 4rem;
        padding-left: 2rem;
        margin-right: 4rem;
        padding-top: 2rem;
        margin-bottom: 3rem;
    }

    .product-image{
        margin-top: 2rem;
        width: 25rem;
        height: auto;
    }

    .product-options{
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 1rem;
    }

    .subtitle-font{
        padding-top:1rem;
        padding-bottom:2rem;
    }

    .item-subtitle{
        padding-bottom: 1rem;
    }

    .option-description{
        display: none;
    }

}


/*mobile sized layout*/
@media (max-width: 750px) {

    .grid{
        display: block;
    }

    .column-aligned{
        margin-left: 1rem;      
    }

    .column-centre{
        margin-left: 1rem;      
    }


    .back-page{
        display:none;
    }

    .fine-text{
        padding-bottom:0.5rem;
    }

    .product-options{
        display: none;
    }

    .product-description{
        margin: 3rem 2rem 2rem 3rem;
    }

    .product-information{
        margin-left: 3rem;
        padding-left: 1rem;
        margin-right: 2rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }

    .dimension-image{
        display: none;
    }

    .list-info{
        padding-bottom: 2rem;
    }

}





