    /*banner*/
  .product-list-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 41px;
    padding-bottom: 15px;
    }

  .product-list-banner img { 
    max-width: 100%;
    height: auto;
    }

/*product list header*/

.product-list-header{
  display: flexbox;
  padding-left: 10%;
  padding-right: 10%;

}

.product-list-header-text{
  font-size: 2vw;
  justify-content: left ;
  align-items: left;
  color: #363232;
  text-align: left;
  font-weight: bold;
}

.sort-filter{
  font-size: 1vw;
  color: #363232;
  justify-content: right ;
  align-items: right;
  text-align: right;
  font-weight: bold;
}


/*product list begins*/
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  .product-list-products {
    width: calc(25% - 2%);
    margin-bottom: 2%;
  }

  .product-list-item {
    display: flex;
    flex-direction: column;
  }

.product-list-image {
  position: relative;
width: 100%;
padding: 10px;
padding-bottom: 10px;
box-sizing: border-box;
border-style: solid;
border-color: black;
border-width: 0.5px;
}

.product-list-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-list-image:hover{
  color: #363232;
  background-color: #e8e3e3;
  
}

@media (max-width: 920px){
  .product-list-products{
    width: calc(33.33% - 2%);
  }
}

@media (max-width: 600px){
  .product-list-products {
    width: calc(50% - 2%);
  }
}
 
  