.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
}


.column-centre{
    justify-self: center;
}


.column-aligned{
    padding-left: 10rem;
}

.product-photo{
    max-width: 100%;
    height: auto;
}

.product-image{
    width: 30rem;
    height: auto;
}

.cart-info{
    width: 10rem;
}

.product-options{
    padding-top: 2rem;
    margin-bottom: 1rem;
    background-color: lightgray;
    padding-left: 2rem;
    padding-bottom: 2rem;
}




