.homepage-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 41px;

  }

.homepage-banner img { 
  max-width: 100%;
  height: auto;
  }


.homepage-image{
  width: 55vw;
  height: 40vw;
  overflow:hidden;
  margin-top: 5rem;
}

.section-image{
  width: 100%;
  height:auto;
}

.align-left{
  margin-left: 10rem;
}

.align-left >:nth-last-child(1){
  padding-bottom: 4rem;
}

.align-right{
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
  background-color: #f2f2f2;
}

.padding-up{
  padding-bottom: 3rem;
}

/*makes responsive*/
@media (max-width: 900px) {

  .align-left{
    margin-left: 5rem;
  }
  
  .align-right{
    padding-right: 5rem;
  }

}


